<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>

<%= link_to "Back to Article", articles_path %>
<%= link_to "Edit Artikel", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Yakin dek?"
}%>

<h3>Comment</h3>
<%= render @article.comments %>

<h3>Add a comment</h3>
<%= render 'comments/form' %>